<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="active">
            <li>
            <a class="nav-link" href="/">Home</a>
            </li>
            <li>
                <a class="nav-link" href="/login">Log In</a>
            </li>
        </ul>
    </nav>
        <div class="container">
                <div class="row">
                    <div class="col col-12  col=sm-6">
                        <table class="table">
                            <tr><td>User NAme</td><td><input type="text" class="form-control"></td></tr>
                            <tr><td>Password</td><td><input type="text" class="form-control" placeholder="Password"></td></tr>
                            <tr><td></td><td><button class="btn btn-info">Log in</button></td></tr>
                        </table>
        
        
                    </div>.
                </div>
        
            </div>
</body>
</html>