<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <div class="container">
                <div class="row">
                    <div class="col col-12 col-sm-6">
                        <table class="table">
                            <tr><td>Name</td><td><input type="text" class="form-control"></td></tr>
                            <tr><td>Adress</td><td><textarea class="form-control rounded-0"  rows="5" col="10"></textarea></td></tr>
                            <tr><td>Gender</td><td> <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios" >
                                <label class="form-check-label" for="materialChecked">Male</label> </td><td> <input type="radio" class="form-check-input" id="materialChecked" name="materialExampleRadios" >
                                    <label class="form-check-label" for="materialChecked">Female</label></td></tr>
                            <tr><td>District</td><td> 
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Nill</button>
                                        <div class="dropdwnmenu">
                                            <a class="item" href="#">Kasargod</a>
                                            <a class="item" href="#">Kannur</a>
                                            <a class="item" href="#">Wayanad</a>
                                            <a class="item" href="#">Kozhikode</a>
                                            <a class="item" href="#">Malapuram/a>
                                            <a class="item" href="#">Palakad</a>
                                            <a class="item" href="#">Thrissur</a>
                                            <a class="item" href="#">Eranamkulam</a>
                                            <a class="item" href="#">Idukki</a>
                                            <a class="item" href="#">Kottayam</a>
                                            <a class="item" href="#">Kollam</a>
                                            <a class="item" href="#">Aalapuzha</a>
                                            <a class="item" href="#">Pathanamthitta</a>
                                            <a class="item" href="#">Thiruvandhapuram</a>
                                        </div>
                                </div>
                            </td></tr>
                            <tr><td>Date Of Birth</td><td><input type="date" class="form-control" placeholder="DD/MM/YYYY"></td></tr>
                            <tr><td>Email</td><td><input type="text" class="form-control" placeholder="@gmail.com"></td></tr>
                            <tr><td>User Name</td><td><input type="text" class="form-control"></td></tr>
                            <tr><td>Confirm Password</td><td><input type="text" class="form-control"></td></tr>
                            <tr><td><button class="btn btn-danger">Register</button></td><td><button class="btn btn-primary">Reset</button></td></tr>
                        </table>
                    </div>
                </div>
            </div>
</body>
</html>